@use '../../../../styles/variable.scss' as *;

.introSection {
  padding: 8em 0 4em;
  height: fit-content;
  display: flex;

  .left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .media {
      position: relative;
      width: 95%;
      aspect-ratio: 1 / 1;
    }

    .ring {
      height: 100%;
      width: 100%;
      animation: rotate 100s linear infinite;
      display: block;
    }

    .avatar {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        height: auto;
        border-radius: 50%;
        display: block;
      }
    }

    .avatar.active {
      opacity: 1;
      z-index: 1;
    }
  }

  .right {
    width: 50%;
    align-self: center;
    padding: 0 1em;

    .introContent {
      justify-items: center;

      .text {
        padding: 0.5em 0 1.5em;
      }
    }
  }
}

/* Animation */
@keyframes rotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* Responsive */
@media (max-width: $breakpoint-lg) {
  .introSection { padding: 4em 0 2em; }
}

@media (max-width: $breakpoint-md) {
  .introSection {
    flex-direction: column;
    align-items: center;

    .left { width: 60%; }
    .right {
      width: 100%;
      margin-top: 1em;

      .copy { padding-top: 0.2em; }
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .introSection { padding: 3em 0 1.5em; }
}