@use '../../../styles/variable.scss' as *;

.navbar {
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.menuIcon {
    display: none;

}


//====================//
// RESPONSIVE CSS     //
//====================//
@media (max-width: $breakpoint-sm) {
    .navbar {
        display: none;
    }

    .menuIcon {
        display: block;
        margin-right: 3em;
    }
}

@media (max-width: $breakpoint-xs) {
    .menuIcon {
        margin-right: 1.5em;
    }
}