@use '../../../styles/variable.scss' as *;

.overlay, .sidebar {
  position: fixed;
  top: 0;
  height: 100%;

}

.overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.sidebar {
  right: 0;
  width: 30%;
  padding: 3em;
  background-color: $color-lighter;
  z-index: 3;

  .sidebarContent {
    width: 100%;
    height: 50%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &.dark {
    background-color: $color-darker;
  }
}