@use '../../../../styles/variable.scss' as *;

.contactSection, .left { height: calc(100vh - var(--header)); }

.contactSection {
  display: flex;
  justify-content: right;

  .left {
    width: 33%;
    left: 0;
    overflow: hidden;
    position: absolute;

    .hand {
      width: 100%;
      height: 100%;
      overflow-x: visible;
      object-fit: cover;
      object-position: right;
      animation: swoopIn 1.5s ease-out forwards,
                 wiggleWithPause 7s ease-in-out infinite 1.5s;
    }
  }

  .right {
    justify-items: center;
    align-content: center;
    width: 100%;

    h1, h2 { white-space: nowrap; }

    .list {
      width: fit-content;
      margin: 0.5em 0;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;

      > *:nth-child(-n + 2) {
        grid-column: 1 / -1;
        margin-top: 1rem;
      }

      > *:nth-child(n + 3) {
        margin-top: 2rem;
      }
    }

    .subtitle {
      color: $color-darker;
      &.dark { color: $color-lighter; }
    }
  }
}

/* Animations */
@keyframes swoopIn {
  0% { transform: translateX(-100%) rotate(-45deg); }
  100% { transform: translateX(0) rotate(0deg); }
}

@keyframes wiggleWithPause {
  0%   { transform: rotate(0deg); }
  5%   { transform: rotate(5deg); }
  10%  { transform: rotate(0deg); }
  15%  { transform: rotate(10deg); }
  20%  { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}


/* Responsive */
@media (max-width: $breakpoint-lg) {
  .contactSection, .left { height: 80vh; }

}

@media (max-width: $breakpoint-md) {
  .contactSection, .left { height: 50vh; }
  
  .contactSection .right .list {
    margin-top: 1em;
  
    > *:nth-child(-n + 2) { margin-top: 0.3rem; }
    > *:nth-child(n + 3) { margin-top: 0.5rem; }
  }
}

@media (max-width: $breakpoint-sm) {
  .contactSection, .left { height: 45vh; }

  .contactSection .left { width: 45%; }

  .contactSection .right {
    width: 65%;

    .list {
      margin-top: 1em;
      gap: 0.7em;
    
      > *:nth-child(-n + 2) { margin-top: 0.2rem; }
      > *:nth-child(n + 3) { 
        margin-top: 0rem; 
        grid-column: 1 / -1;
        justify-content: center;
      }
    }
  }
}