@use '../../../../styles/variable.scss' as *;

.section {
  display: flex;
  height: calc(100vh - var(--header));
  overflow: hidden;
  justify-content: right;

  .left {
    overflow: hidden;
    position: absolute;
    left: 0;
    height: calc(100vh - var(--header));

    .hand {
      height: 120%;
      animation: swoopIn 1.5s ease-out forwards,
                 wiggleWithPause 7s ease-in-out infinite 1.5s;
    }
  }

  .right {
    justify-items: center;
    align-content: center;
    width: 90%;

    .list {
      width: 55%;
      margin: 5em 0;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;

      > *:nth-child(-n + 2) {
        grid-column: 1 / -1;
        margin-top: 1rem;
      }

      > *:nth-child(n + 3) {
        margin-top: 2rem;
      }
    }

    .subtitle {
      color: $color-darker;
      &.dark { color: $color-lighter; }
    }
  }
}

/* Animations */
@keyframes swoopIn {
  0% { transform: translateX(-100%) rotate(-45deg); }
  100% { transform: translateX(0) rotate(0deg); }
}

@keyframes wiggleWithPause {
  0%   { transform: rotate(0deg); }
  5%   { transform: rotate(5deg); }
  10%  { transform: rotate(0deg); }
  15%  { transform: rotate(10deg); }
  20%  { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}