@use '../../../styles/variable.scss' as *;

.backgroundCardContainer {
    border-left: 0.3em solid $color-darker;
    padding-left: 2em;

    &.dark {
        border-color: $color-lighter;
    }

    .backgroundTitle {
        padding-top: 0.7em;
    }

    .timeline, .backgroundSubtitle {
        padding-left: 1em;
        margin-bottom: 0.2em;
    }

    .timeline {
        padding-top: 0.5em;
    }

    .school {
        padding-bottom: 1em;
        display: flex;
        align-items: center;

        .link {
            margin-left: 0.5em;
            display: none;
        }

        &:hover {
            color: $color-primary;
        }
    }

    .details {
        display: block;              
        margin: 0 2em;
        padding: 0 1em;             
        border-left: 0.3em solid $color-secondary;

        max-height: 0;
        overflow: hidden;
        transform: translateY(-4px);
        transition:
        max-height .4s ease,
        transform .4s ease,
        padding .3s ease;      
    }

    &:hover {
        .link {
            display: block;

        }

        .details {
            max-height: fit-content;
            opacity: 1;
            transform: translateY(0);
            padding: 1em;       
        }
    }
}