@use '../../../styles/variable.scss' as *;

.contactCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.5em;
    }

    span {
        font-size: 2em;
        display: flex;
        margin: 0 0.5em;
    }

    .socialsContainer {
        display: flex;
    }
}