@use '../../../styles/variable.scss' as *;

.contactCardContainer, .socialsContainer {
    p {
        font-size: 1.5em;
    }
    
    span {
        font-size: 2em;
        margin: 0 0.5em;
    }
}

.contactCardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
        display: flex;

        .infoValue {
            margin-left: 1em;
        }
    }

    .infoIcons {
        display: flex;
    }
}

.socialsContainer {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 10em;
}