@use '../../../styles/variable.scss' as *;

.tabs {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;

  .tabList {
    display: flex;
    gap: 1em;
  }

  .tab {
    font-size: 1.5em;
    padding: 0.3em 1.2em;
    border-radius: 0.2em;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease;
    color: $color-darker;

    &.dark {
      color: $color-lighter;
    }

    &:hover {
      opacity: 1;
      background-color: rgba($color-secondary, 0.3);
    }

    &.active {
      opacity: 1;
      background-color: $color-primary;
      color: inherit;
    }
  }

  .dropdown {
    display: none;
    background: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border-color: $color-darker;
    color: $color-darker;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
    
    &:hover {
      color: inherit;
      border-color: transparent;
      background-color: $color-primary;
    }
  }

  &.dark {
    .dropdown {
      border-color: $color-lighter;
      color: $color-lighter;

      &:hover { color: inherit; }
    }
  }
}

/* Responsive */
@media (max-width: $breakpoint-md) {
  .tabs {
    .tabList {
      display: none;
    }

    .dropdown {
      display: block;
    }
  }
}
