@use '../../styles/variable.scss' as *;

.homeGreetings {
  position: relative;
  height: calc(100vh - 6rem);
  overflow: hidden;
  align-content: center;
}

.leftContainerGreetings {
  display: flex;
  flex-direction: column;
  width: 70%;
  position: absolute;
  align-self: center;
  
    .hello {
      height: 300px;
    }
    
    .greetingTxt {
      margin: 3rem 7rem;
    }
}

.hand {
  position: absolute;
  top: 2rem;
  left: 60%;
  width: 50%;
  height: 125%;

  animation: swoopIn 1.5s ease-out forwards, wiggleWithPause 7s ease-in-out infinite 1.5s;
}

// ANIMATIONS
@keyframes swoopIn {
  0% {
    transform: translateX(100%) rotate(45deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes wiggleWithPause {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-3deg); }
  10% { transform: rotate(5deg); }
  15% { transform: rotate(-3deg); }
  20% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}


//RESPONSIVE
@media (max-width: $breakpoint-sm) {

  .hand {
    width: 70%;
    right: 0;
  }
}