@use '../../styles/variable.scss' as *;

.btn {
    display: flex;
    place-self: center;
    width: fit-content;
    border: 0.2em solid rgba($color-primary, 0.5);
    padding: 0.7em 3em;
    border-radius: 2em;
    transition: transform 0.2s ease-in-out;
    font-family: $font-secondary;
    color: rgba($color-darker, 0.7);
    &.dark {
        color: rgba($color-lighter, 0.8);
    }
    
    &:hover {
        border-color: transparent;
        background-color: rgba($color-primary, 0.5);
        transform: translateY(-2px);
        color: inherit;
    }
}

@media (max-width: $breakpoint-sm) {
    .btn {
        font-size: 12px;
        margin-top: 30px;
    }
}