@use '../../../styles/variable.scss' as *;

.headerIcon {
    color: $color-darker;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

    &.dark {
        color: $color-lighter;
    }
    
    &:hover {
        color: $color-secondary;
        transform: translateY(-5px);
    }

}