@use '../../../styles/variable.scss' as *;

.logo {
    display: flex;
    align-items: center;

    img {
        width: 3.5em;
        margin: 0 3em;
    }

    .logoText {
        font-size: 1.8em;
        font-family: $font-secondary;
        letter-spacing: 1em;
        color: $color-darker;

        &.dark {
            color: $color-lighter;
        }
    }

    &.hidden {
        display: none;
    }
}


//====================//
// RESPONSIVE CSS     //
//====================//
@media (max-width: $breakpoint-lg) {
    .logo {
        img {
            width: 3em;
        }

        .logoText {
            font-size: 1.5em;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .logo {
        img {
            margin-right: 1.2em;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .logo .logoText {
        display: none;
    }
}

@media (max-width: $breakpoint-xs) {
    .logo img {
        width: 2.5em;
        margin-left: 1.5em;
    }
}