@use '../../../styles/variable.scss' as *;

.logo {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        margin: 0 3vh;
    }

    .logoText {
        font-size: 25px;
        font-family: $font-secondary;
        letter-spacing: 2vh;
        color: $color-darker;

        &.dark {
            color: $color-lighter;
        }
    }

    &.hidden {
        display: none;
    }
}