@use '../../styles/variable.scss' as *;

.heroSection {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header-h));
  background-color: $color-lighter;
  overflow: hidden;
  
  .heroLeft {
    align-self: center;
    width: 60%;

    .heroGreeting {
      display: flex;
      justify-content: space-evenly;
    }
    
    .heroDetails {
      margin: 0 3em 0 7em;
    }
    
    .name {
      display: inline-block;
      white-space: nowrap;
    }

    .headline {
      max-width: 100%;

      span {
        display: inline-block;
        position: relative;
        
      }
    }

    .greetings {
      margin-bottom: 5em;
    }
  }

  .heroRight {
    width: 40%;

    .heroHand {
      width: 110%;
      animation: 
      swoopIn 1s ease-out 5s both,
      wiggleWithPause 7s ease-in-out 6s infinite;
    }
  }

  &.dark {
    background-color: $color-darker;
  }
}


//ANIMATION
@keyframes swoopIn {
  0%   { transform: translateX(100%) rotate(45deg); }
  100% { transform: translateX(0)     rotate(0deg); }
}

@keyframes wiggleWithPause {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-3deg); }
  10% { transform: rotate(5deg); }
  15% { transform: rotate(-3deg); }
  20% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes max-height {
	from {
		max-height: 0;
	}
	to {
		max-height: 100%;
	}
}

// RESPONSIVE