@use '../../styles/variable.scss' as *;

.heroSection {
  height: calc(100vh - var(--header));
  padding-top: var(--header);
  width: 100vw;
  display: flex;
  background-color: $color-lighter;
  overflow: hidden;

  .heroLeft {
    width: 65%;
    align-content: center;
    // background-color: red;

    .heroGreeting {
      position: relative;

      .loaderOverlay {
        width: 70%;
        position: absolute;
        inset: 0;                 
        display: grid;
        place-items: center;     
        pointer-events: none;   
        z-index: 1;
      }
    }
    
    
    .heroDetails {
      width: 120%;
      margin: 5em 5em 0;
      
        .name {
          display: inline-block;
          white-space: nowrap;
        }
    }
  }
  
  .heroRight {
    position: relative;
    width: 35%;
    padding-left: 1.5em;

    .heroHand {
      object-fit: contain;
      height: 120%;
      animation: 
//         swoopIn 1s ease-out 6s both,
        wiggleWithPause 7s ease-in-out 7s infinite;
    }
  }

  &.dark {
    background-color: $color-darker;
  }
}


// ANIMATIONS
@keyframes swoopIn {
  0%   { transform: translateX(100%) rotate(45deg); }
  100% { transform: translateX(0)     rotate(0deg); }
}

@keyframes wiggleWithPause {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(-3deg); }
  10% { transform: rotate(5deg); }
  15% { transform: rotate(-3deg); }
  20% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes max-height {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}


//====================//
// RESPONSIVE CSS     //
//====================//
@media (max-width: $breakpoint-xl) {
  .heroSection {
    .heroLeft {
      .heroGreeting .greetings {
        width: 120%;
      }
  
      .heroDetails {
        margin-right: 3em;
      }
    }

    .heroRight .heroHand {
      height: 100%;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .heroSection {
    height: 80vh;
  }
}

@media (max-width: $breakpoint-md) {
  .heroSection {
    height: 70vh;

    .heroLeft .heroDetails {
      margin: 2em 0 0 3.5em;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .heroSection {
    height: 40vh;
    
    .heroLeft .heroDetails {
      margin: 2em 0 0 2em;
    }

    .heroRight .heroHand {
      width: 130%;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  .heroSection {
    height: 35vh;

    .heroLeft {
      .heroGreeting .greetings {
        width: 110%;
      }
      
      .heroDetails {
        margin: 1.5em 0 0 1.5em;
      }
    }
  }
}