@use '../../../../styles/variable.scss' as *;

.backgroundSection {
  padding: 4em 0;
  justify-items: center;

  .title {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .grid {
    display: flex;
    gap: 3em;

    .column {
      width: 50%;
    }
  }


  .subtitle {
    margin-bottom: 0.5em;
    justify-self: center;
    color: $color-darker;

    &.dark { color: $color-lighter; }
  }
}


/* Responsive */
@media (max-width: $breakpoint-lg) {
  .backgroundSection { padding: 2em 0; }
}

@media (max-width: $breakpoint-md) {
  .backgroundSection {
    .grid { 
      flex-direction: column; 
      gap: 2em;

      .column {
        align-self: center;
        width: 90%;

        .subtitle {
          margin-bottom: 0.7em;
        }
      }
    }
  }
}