@use '../../../../styles/variable.scss' as *;

.section {
  padding: 4em 0;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
  border: 0.3em solid $color-darker;
  border-left: none;
  border-right: none;

  .title {
    margin-bottom: 0.5em;
  }

  .list {
    justify-content: center;
    display: flex;
    gap: 1rem;
  }

  &.dark { border-color: $color-lighter; }
  &:hover { border-color: $color-secondary; }
}


/* Responsive */
@media (max-width: $breakpoint-lg) {
  .section .list { flex-wrap: wrap; }
}

@media (max-width: $breakpoint-sm) {
  .section .list {
    align-items: center;
    flex-direction: column;
  }
}