@use './variable.scss' as *;

:root {
  --header-h: 6rem;
}

html {
  scroll-padding-top: var(--header-h);
}

html, body, #root {
  height: 100%;
}

body {
    margin: 0;
    font-family: $font-primary;
    background-color: $color-lighter;
    color: $color-black;

    &.dark {
        background-color: $color-darker;
        color: $color-white;
    } 
}

main {
  padding-top: var(--header-h);
}

//NO BREAK
.whitespace-nowrap {
  white-space: nowrap;
}


//TEXT details
h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
}

h2, p {
  font-family: $font-secondary;
}
 

//ICON, LINKS, AND BUTTONS
.icon {
  display: flex;
  font-size: 2em;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    color: $color-secondary;
    transform: translateY(-5px);
  }
}

a,
button {
  font-size: 1.2em;
  font-family: $font-secondary;
  color: $color-primary;
  margin: 20px;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    color: $color-secondary;
    transform: translateY(-5px);
  }
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.link {
  display: inline-flex;
  align-items: center;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

  &:not(.active):hover {
    transform: translateY(-5px);
    color: $color-secondary;
  }

  &.active:hover {
    transform: none;
  }
}


//RESPONSIVE
@media (max-width: $breakpoint-lg) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: $breakpoint-md) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: $breakpoint-sm) {
  h1 {
    font-size: 2rem;
  }
}