@use './variable.scss' as *;

html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: $font-primary;

    background: linear-gradient(
        135deg,
        rgba($color-white, 1),  
        rgba($color-lighter, 1)
    );
    color: $color-black;

    &.dark {
        background: linear-gradient(
          135deg,
          rgba($color-darker, 1),  
          rgba($color-black, 1),
        );
        color: $color-white;
    } 
}

//NO BREAK
.whitespace-nowrap {
  white-space: nowrap;
}