@use './variable.scss' as *;

html {
  scroll-padding-top: $header;
}

body {
  margin: 0;
  font-family: $font-primary;
  background-image: url(src/assets/BG-light.png);
  background-size: 20%;
  color: $color-black;

  // MAIN CONTENT
  main {
    margin: 0 15%;
    padding: $header 5em 0;
    background-color: $color-lighter;
  }

  // ICONS
  .icon {
    font-size: 2em;
  }

  // LINKS + BUTTONS
  a {
    text-decoration: none;
    display: inline-flex;
  }

  button {
    background: none;
    border: none;
    padding: 0;
  }

  a, button {
    font-size: 1.3em;
    font-family: $font-primary;
    color: $color-primary;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      color: $color-secondary;
      transform: translateY(-5px);
    }
  }

  // DARK THEME
  &.dark {
    background-image: url(src/assets/BG-dark.png);
    color: $color-white;

    main {
      background-color: $color-darker;
    }

    a, button {
      &:hover {
        color: $color-secondary;
      }
    }
  }
}

// NO BREAK
.whitespace-nowrap {
  white-space: nowrap;
}

// TEXT
h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2, h3 {
  font-size: 2.5em;
}

p {
  font-size: 1em;
}

h2, p {
  font-family: $font-secondary;
}


//====================//
// RESPONSIVE CSS     //
//====================//
@media (max-width: $breakpoint-lg) {
  body {
    .icon {
      font-size: 1.8em;
    }

    a, button {
      font-size: 1.2em;
    }
  }
}