//COLORS
$color-white: #f4effa;
$color-black: #25133e;

$color-lighter: #ded0f1;
$color-primary: #9063cf;
$color-darker: #432371;

$color-secondary: #faae7b;


//FONTS
$font-primary: 'Libre Baskerville', serif;
$font-secondary: 'Noto Sans', sans-serif;


//BREAKPOINTS
$breakpoint-xs: 480px;   // small phones
$breakpoint-sm: 768px;   // tablets (portrait) → often switch header → sidebar
$breakpoint-md: 1024px;  // tablets (landscape) / small laptops
$breakpoint-lg: 1280px;  // laptops / desktop base
$breakpoint-xl: 1440px;  // large desktops
$breakpoint-xxl: 1600px; // very large monitors


//HEADER
$header: 5em;