//COLORS
$color-white: #f7efff;
$color-black: #16052a;

$color-lighter: #b997d5;
$color-primary: #7e55bf;
$color-darker: #675487;

$color-secondary: #ffdb7d;


//FONTS
$font-primary: 'Mulish', sans-serif;
$font-secondary: 'Cutive Mono', monospace;