.skillSection {
  text-align: center;
  height: 50vh;               
  transition: height 0.5s ease;

  &:hover {
    height: calc(100vh - var(--header-h));
  }

  .skillsList {
    justify-content: center;
    display: flex;
    margin: 2em;
  }
}
