@use '../../styles/variable.scss' as *;

.logoStudySection {
    // background-color: red;
    display: flex;
    height: calc(100vh - var(--header-h));
    align-items: center;
    text-align: center;
    padding: 0 5em;

    .logoStudyLeft {
        .logoDesc {
            margin: 3em 7em;
        }
    }

    .logoStudyImg {
        height: 80%;
        margin-left: 3em
    }
}