@use '../../styles/variable.scss' as *;

.logoStudySection {
    // background-color: red;
    display: flex;
    margin: 6em 0;
    height: 40em;
    position: relative;

    .logoStudyLeft {
        position: absolute;
        width: 50%;
        align-self: center;
        text-align: center;

        h1 {
            margin-bottom: 1em;
        }

        .logoDesc {
            font-size: 1.3em;
        }
    }

    .logoStudyImg {
        position: absolute;
        right: 0;
        height: 100%;
    }
}