@use '../../styles/variable.scss' as *;

.navLink {
  margin-right: 2em;

  a.active {
    color: $color-black;
  
    &.dark {
      color: $color-white;
    }
  
    &:hover {
      cursor: default;
    }
  }
}
