@use '../../styles/variable.scss' as *;

.HomeIntro {
    display: flex;
    justify-self: center;
}

//TEMP 
h2 {
    display: flex;
    justify-self: center;
    height: 1000px;
    background-color: red;
}