@use '../../styles/variable.scss' as *;

.worksSection {
  padding: 0 !important;
  justify-items: center;
  min-height: calc(100vh - var(--header));
  padding-top: var(--header) !important;

  .worksDisplay {
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      opacity: 0.8;
    }
  }
}