@use '../../styles/variable.scss' as *;

.worksContainer {
    justify-items: center;
    min-height: calc(100vh - $header);
    
    .display {
        padding: 1em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h2 {
            opacity: 0.8;
        }
    }
}