@use '../../styles/variable.scss' as *;

.contactCopy, .linkWrapper {
    margin-top: 20px;
    width: 60%;
}

.linkWrapper {
    transition: transform 0.2s ease-in-out;
    display: contents;

    &:hover {
            color: $color-secondary;
            transform: translateY(-2px);
        }

    .contactLink {
        width: 100%;
        font-size: 20px;
        color: inherit;
    }
}

.contactCopy {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contactIcons {
        display: flex;

    }

    .copyIcon, .sendIcon {
        font-size: 20px;
        margin: 0 10px;
    }

    .sendIcon {
        color: inherit;
    }
}