@use '../../styles/variable.scss' as *;

.contactCopy, .linkWrapper {
    margin-top: 20px;
    width: 60%;
}

.linkWrapper {
    .contactLink {
        font-size: 18px;
        margin: 0;
        color: inherit;
    }
}

.contactCopy {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyIcon {
        font-size: 20px;
        margin: 0;
    }
}