.HomeGreetings {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;

  background-image: url('../../assets/HomeGreetings.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hand {
  position: absolute;
  top: 10px;
  left: 63%;
  width: 50%;
  height: 125%;
  object-fit: contain;

  animation: swoopIn 1.5s ease-out forwards, wiggle 2s ease-in-out 1.5s;
}

// ANIMATIONS
@keyframes swoopIn {
  0% {
    transform: translateX(100%) rotate(45deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-3deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}