@use '../../styles/variable.scss' as *;

.introText {
    justify-items: center;

    .introHeading {
        font-size: 50px;
        margin: 0;
        text-align: center;

        .name {
            font-family: $font-secondary;
            color: $color-secondary;
            letter-spacing: 7px;
            margin-left: 30px;
        }

        .greeting, .name {
            display: inline;
        }
    }

    .introSubheading {
        color: $color-primary;
        letter-spacing: 10px;
    }

    .text {
        text-align: center;

        strong {
            margin-left: 10px;
            font-family: $font-secondary;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .introText {
        .introHeading {
            font-size: 40px;
            display: block;

            .greeting, .name {
            display: block;
            }
        }

        .introSubheading {
            letter-spacing: 7px;
            margin: 10px 0 0 0;
        }

        .text {
            font-size: 14px;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .introText {
        margin: 0;

        .introHeading{
            font-size: 30px;
        }

        .introSubheading {
            letter-spacing: 5px;
            font-size: 15px;
        }

        .text {
            font-size: 12px;
        }
    }
}