@use '../../styles/variable.scss' as *;

.IntroImage {
  position: relative;
  width: 60vh;
  aspect-ratio: 1/1;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

    .rotateText {
        // position: absolute;
        width: 90%;
        height: 90%;
        top: 0;
        left: 0;
        animation: rotate 100s linear infinite;
    }

    .profile {
        position: absolute;
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//RESPONSIVE
@media (max-width: $breakpoint-sm) {
  .IntroImage {
    width: 50vh;
  }
}