@use '../../styles/variable.scss' as *;

.logo {
    display: flex;
    align-items: center;

    img {
        width: 55px;
        margin: 3vh;
    }

    span {
        font-size: 25px;
        font-family: $font-secondary;
        letter-spacing: 2vh;
        color: $color-darker;

        &.dark {
            color: $color-lighter;
        }
    }
}

@media (max-width: $breakpoint-md) {
    span {
        display: none;
    }
}