@use '../../styles/variable.scss' as *;

.navbar {
    display: flex;
    align-items: center;

    a, button {
        margin: 0 40px;
    }
}

.menuIcon {
    display: none;
}

@media (max-width: $breakpoint-md) {
    .navbar {
        display: none;
    }

    .menuIcon {
        display: flex;
    }
}