@use '../../styles/variable.scss' as *;

.navbar {
    display: flex;
    align-items: center;

    a {
        margin: 0 40px;
    }
}

.menuIcon {
        display: none;

}

@media (max-width: $breakpoint-md) {
    .navbar {
        display: none;
    }

    .menuIcon {
        display: flex;
        font-size: 27px;
        margin: 3vh;
        align-self: center;
        transition: transform 0.2s ease-in-out;

        &:hover {
            color: $color-secondary;
            transform: translateY(-2px);
        }
    }
}