@use '../../styles/variable.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-lighter;
  z-index: 2;

  &.dark {
    background-color: $color-darker;
  }
}

.closeIcon {
  margin-right: auto;
  align-self: normal;
}