@use '../../../../styles/variable.scss' as *;

.container {
  display: flex;
  align-items: center;
  width: 100%;

  .arrow {
    font-size: 1.5em;
    z-index: 2;
    opacity: 0;
    cursor: default;
    background: transparent;
    border: none;
    transform-origin: center;
    transition: opacity 0.2s ease, transform 0.3s ease-in-out, color 0.2s ease-in-out;

    &.active {
      opacity: 1;
      cursor: pointer;

      &:hover {
        color: $color-secondary;
        transform: scale(1.3);
      }
    }
  }

  .track {
    width: 100%;
    overflow: hidden;
    gap: 0.5em;
    z-index: 1;
    scroll-behavior: smooth;
    display: flex;
    margin-bottom: 1em;

    .thumb {
      aspect-ratio: 16/9;
      width: 40%;
      opacity: 0.8;
      object-fit: cover;
      transform-origin: center;
      transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
      filter: brightness(0.9);

      &:hover {
        opacity: 1;
        filter: brightness(1);
      }

      &.active {
        opacity: 1;
        filter: brightness(1);
      }
    }

    &.centered {
      justify-content: center;
    }
  }
}