@use '../../styles/variable.scss' as *;

.introSection {
  height: fit-content;
  display: flex;
  background-color: $color-lighter;

  .introLeft {
    width: 35%;
    // background-color: rgba(blue, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .imgContainer {
      position: relative;
      width: 95%;  
      aspect-ratio: 1/1;
    }

    .circleText {
      height: 100%;
      animation: rotate 100s linear infinite;
    }

    .profileImg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 65%;
      border-radius: 50%;
    }
  }

  .introRight {
    align-self: center;
    margin: 4em 3em;

    .intro {
      margin: 0.5em 0 1.5em;
    }
  }

  &.dark {
    background-color: $color-darker;
  }
}

//ANIMATION
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//RESPONSIVE