@use '../../../styles/variable.scss' as *;

.card {
  border-left: 0.3em solid $color-darker;
  padding-left: 2em;

  &.dark {
    border-color: $color-lighter;
  }

  .timeline, .subtitle {
    padding-left: 1em;
    margin-bottom: 0.2em;
  }

  .timeline {
    padding-top: 0.5em;
  }

  .school {
    padding-bottom: 1em;
    display: flex;
    align-items: center;

    .link {
      margin-left: 0.5em;
      display: none;
    }

    &:hover {
      color: $color-primary;
    }
  }

  .detail {
    display: block;
    margin: 0 2em;
    padding: 0 1em;
    border-left: 0.3em solid $color-secondary;

    max-height: 0;
    overflow: hidden;
    transform: translateY(-4px);
    transition:
      max-height 0.4s ease,
      transform 0.4s ease,
      padding 0.3s ease;
  }

  &:hover {
    .link {
      display: block;
    }

    .detail {
      max-height: fit-content;
      opacity: 1;
      transform: translateY(0);
      padding: 1em;
    }
  }
}

/* Responsive */
@media (max-width: $breakpoint-xl) {
  .card {
    padding-left: 2em;

    .content .detail {
      margin: 0 1.5em;
    }
  }
}

@media (max-width: $breakpoint-md) {
    .card {
    padding-left: 2em;

    .content .detail {
      margin: 0 2em;
    }
  }
}

@media (max-width: $breakpoint-sm) {
    .card {
      padding-left: 1.5em;

      .content .detail {
        margin: 0 1.5em;
      }
  }
}

@media (max-width: $breakpoint-sm) {
    .card {
      padding-left: 1em;
    }
}