@use '../../styles/variable.scss' as *;

.contact {
    justify-self: right;
    width: 70%;
    padding: 50px;

    .contactIntro {
        display: flex;
        flex-direction: column;
        text-align: center;

        .contactHeading {
            font-size: 50px;
            margin: 20px 0;
        }

        .contactSubHeading {
            margin: 5px;
            font-size: 17px;
            letter-spacing: 5px;
            color: $color-primary;
        }
    }

    .contactItems {
        justify-items: center;
        margin: 20px;
    
        .socialGrid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 50%;
            padding: 20px;
        }
    }
}