@use '../../styles/variable.scss' as *;

.contactSection {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--header-h));
    overflow: hidden;

    .contactLeft {
        background-color: red;
        width: 30%;
    }
    
    .contactRight {
        justify-items: center;
        align-content: center;
        width: 70%;

        .contactListContainer {
            margin: 3em 0;
        }
    }
}