@use '../../styles/variable.scss' as *;

.backgroundSection {
    padding: 2.5em;
    justify-items: center;

    .backgroundTitle {
        margin-top: 0.5em;
        text-align: center;
    }

    .backgroundContainer {
        display: flex;
    }

    .listContainer {
        margin: 2em 5em;
        width: 50%;
    }

    .backgroundSubtitle {
        justify-self: center;
        margin-bottom: 0.5em;
        color: $color-darker;
        
        &.dark {
            color: $color-lighter;
        }
    }
}