@use '../../styles/variable.scss' as *;

.backgroundSection {
    margin: 6em 0;
    justify-items: center;

    .backgroundTitle {
        margin-top: 0.5em;
        text-align: center;
    }

    .backgroundContainer {
        display: flex;
        margin-top: 1em;
        gap: 3em;
    }

    .listContainer {
        width: 50%;
    }

    .backgroundSubtitle {
        justify-self: center;
        margin-bottom: 0.7em;
        color: $color-darker;
        
        &.dark {
            color: $color-lighter;
        }
    }
}